.s_property_listing_snippet .container.is-list-view .property_container > .card-view-layout {
    display: none !important;
}

.s_property_listing_snippet .container.is-list-view .property_container > .list-view-layout {
    display: block !important;
}

.s_property_listing_snippet .container.is-card-view .property_container > .card-view-layout {
    display: block !important;
}

.s_property_listing_snippet .container.is-card-view .property_container > .list-view-layout {
    display: none !important;
}


.s_property_listing_snippet .property_container > .list-view-layout {
    display: none !important;
}

.s_property_listing_snippet .property_container > .card-view-layout {
    display: block !important;
}
